:root {
    --blue-color: #3B85FF;
    --light-blue-color: #B4D0E7;
    --light-grey-color: #F5F5F5;
    --purple-color-: #61082B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

/* common */
/* containers */
.container-90 {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.container-80 {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

/* position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixes {
    position: fixed;
}

/* links */
a {
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

a.link {
    color: var(--blue-color);
    text-decoration: underline;
}

/* Cols */
.row::after {
    content: '';
    display: table;
    clear: both;
}
.row .col {
    float: left;
    border: 1px solid red;
}

/* menu */
.menu-inline,
.menu-vertical {
    list-style: none;
}
.menu-inline li{
    display: inline-block;
}
.menu-vertical li {
}

/* buttons */
a.btn {
    padding: 0.3em 1.2em;
}
a.btn-wide {
    padding: ();
}

a.btn:hover,
a.btn:active,
a.btn:focus {
    filter: opacity(0.8);
}
a.btn-blue {
    background-color: var(--blue-color);
    color: white;
}
a.btn-white {
    background-color: white;
    color: black;
}

/* logo */
.logo {
    vertical-align: sub;
}

/* Utilities */
/* Text */
.text-right {
    text-align: right;
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center;
}

/* Width */
.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%
}
.width-30 {
    width: 30%;
}
.width-1-3 {
    width: calc(100% / 3);
}
.width-35 {
    width: 35%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-100 {
    width: 100%;
}

/* Paddings */
.pdl-2 {
    padding-left: 2%;
}
.pdl-6 {
    padding-left: 6%;
}
.pdr-6 {
    padding-right: 6%;
}
.pdb-3 {
    padding-bottom: 3%;
}
.pdb-4 {
    padding-bottom: 4%;
}
.pdt-3 {
    padding-top: 3%;
}

/* Colors */
.bg-light-blue {
    background-color: var(--light-blue-color));
}
.bg-black {
    background-color: black;
}

/* header */
/* nav */
/* nav {
    line-height: 4em;
} */

nav .menu-inline .nav-link {
    line-height: 4em;
    display: block;
    padding: 0 1.2em;
    font-weight: bold;
}

nav .menu-inline .nav-link:hover {
    border-bottom: 2px solid darkblue;
}
